@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent-color
	color: #fff
button
	cursor: pointer
	&:focus
		outline: none
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	font-weight: 200
	//overflow-x: hidden
	color: $main-color
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
h1
	font-size: 72px
	font-weight: 500
	line-height: 53px
h2
	font-size: 36px
	font-weight: 200
.btn
	background: $main-color
	color: $white-color
	border: none
	padding: 10px 15px
	font-size: 14px
	font-weight: bold
	display: flex
	align-items: center
	span
		display: block
		transition: ease-in-out .7s
		margin-top: 0 !important
		margin-right: 5px
	p
		margin-top: 0
		margin-bottom: 0
	&:hover span
		display: block
		float: left
		transform: rotate(540deg)
	&:focus
		outline: none


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold
//aside
//	float: left
//	height: 100%
header
	width: 311px
	height: 237px
	background: $main-color
	position: fixed
	padding-right: 20px
	padding-top: 10px
	z-index: 13
	top: 0
.accout-profile
	display: flex
	justify-content: flex-end
	position: relative
	z-index: 9999
	.dropdown
		margin-right: 14px
	.dropdown-menu.show
		top: 45px
		left: 0
		z-index: 999
.cont
	margin-left: 311px
	position: relative
	z-index: 1

.home-section-name
	position: absolute
	left: 30px
	padding: 0 20px
	top: -33px
	background: $white-color
	font-size: 36px
	font-weight: 400
	z-index: 5

	a
		color: $main-color
		&:hover
			text-decoration: none
.product_item
	width: 100%
	border-right: 1px solid $main-color
	border-bottom: 1px solid $main-color
.product_item-img
	height: 65%
	position: relative
	img
		position: absolute
		top: 50%
		transform: translate(-50%,-50%)
		left: 50%
		width: auto
		transition-duration: 4s
		height: 80%
		&:hover
			transform: scale(1.06) translate(-50%,-50%)
.product_item-description
	height: 35%
	display: flex
	flex-direction: column
	align-items: center
	//justify-content: space-around
	text-align: center
	*:not(button)
		margin-bottom: 2%
.dropbtn
	color: white
	width: 50px
	background: url("../img/punk_new.png") no-repeat center
	height: 30px
	border: none
	cursor: pointer
	position: relative
	&:focus
		border: none
		outline: none
	&:before
		content: ""
		width: 11px
		height: 7px
		background: url("../img/arrow.png") no-repeat
		position: absolute
		left: -5px
.acc-rotate.dropbtn:before
	transition: .3s
	transform: rotate(720deg)


.cart
	width: 23px
	height: 25px
	background: url("../img/cart.png") no-repeat center
	color: $white-color
	font-size: 13px
	font-weight: 200
	padding: 5px
	text-align: center
	margin-top: 3px
.logo
	display: flex
	justify-content: center
	top: 100px
	width: 100%
	margin-top: 75px
	margin-bottom: 75px

nav
	color: $white-color
	font-size: 15px
	line-height: inherit
	width: 311px
	height: 568px
	background: $main-color
	position: fixed
	padding-right: 20px
	padding-top: 10px
	clear: both
	top: 237px
	z-index: 11
	ul
		list-style-type: none
		padding: 0
		margin-left: 40px
		width: 100%
		li
			margin-bottom: 30px
			position: relative
			height: fit-content
			transition-property: opacity
			transition-duration: 0.5s
			transition-delay: 0
			width: 60%


			a:not(.dropdown-item)
				color: $white-color
				display: block
				position: relative
				width: fit-content
				&:after
					content: ""
					position: absolute
					width: 100%
					bottom: 0
					left: 0
					background-color: $main-color
					height: 2px
					z-index: -1
					transition-property: all
					transition-duration: 0.5s
				&:hover
					color: $white-color
					text-decoration: none
				&:hover:after
					transform: scaleX(1)
					background-color: $white-color
			button
				border: none
				background: transparent
				padding: 0
				font-weight: 100
				width: fit-content
				color: $white-color
				position: relative
				&:after
					content: ""
					position: absolute
					width: 100%
					bottom: 0
					left: 0
					background-color: $main-color
					height: 2px
					z-index: -1
					transition-property: all
					transition-duration: 0.5s
				&:hover:after
					transform: scaleX(1)
					background-color: $white-color
	ul:nth-of-type(1)
		font-weight: 200
	ul:last-of-type
		font-weight: 100
	.dropdown-menu.show
		display: flex
		flex-wrap: wrap
		flex-direction: row
		justify-content: flex-start
		max-height: 600px
.burger
	display: none
.drop-col
	width: 210px
.dropdown-menu
	border-radius: 0
	border: none
	box-shadow: 10px 0px 40px rgba(147, 147, 147, 0.4)
	z-index: 50
	top: 0
	left: 100%
	width: max-content
	padding: 35px
	//max-height: 400px

	p
		font-size: 16px
		font-weight: 400
		padding-left: 24px
		padding-right: 24px
		width: 100%
.last-drop
	top: -150px
.drop-img
	width: 100%
	height: 150px
	img
		width: auto
		height: inherit
		float: right


.dropdown-item
	font-size: 15px
	font-weight: 100
	width: auto
	margin-top: 10px

.nav-underline
	width: 60%
	height: 1px
	background: $white-color
	margin-bottom: 30px
	margin-left: 40px
	left: 60% !important


.nav-arrow
	width: 7px
	height: 11px
	background: url("../img/arrow.png") center no-repeat
	position: absolute
	right: 0
	top: 0
	transform: rotate(-90deg)
	transition: .3s
	margin-top: 7px

/**************  home-top_carousel ************/
.home-top_carousel
	.owl-stage-outer
		height: 100%
		.owl-stage
			height: inherit
			.owl-item
				height: 100%
				border-bottom: 1px solid $main-color
				border-right: 1px solid $main-color
			.owl-item.active
				height: inherit

	.owl-nav
		position: absolute
		padding: 10px 20px
		background: $white-color
		z-index: 10
		top: 15px
		right: 30px
		.owl-next
			width: 40px
			height: 40px
			border-radius: 40px
			border: 2px solid $main-color !important
			position: relative
			&:before
				content: ""
				width: 11px
				height: 16px
				background: url("../img/caro-arrow.png") no-repeat center
				position: absolute
				top: 50%
				right: 50%
				margin-top: -8px
				margin-right: -6px
				transform: rotate(180deg)
		.owl-prev
			width: 40px
			height: 40px
			border-radius: 40px
			border: 2px solid $main-color !important
			position: relative
			margin-right: 15px
			&:before
				content: ""
				width: 11px
				height: 16px
				background: url("../img/caro-arrow.png") no-repeat center
				position: absolute
				top: 50%
				right: 50%
				margin-top: -8px
				margin-right: -5px
	.owl-dots
		position: absolute
		top: 30px
		left: 30px
		width: 150px
		.owl-dot
			background: $white-color
			width: 14px
			height: 14px
			border-radius: 25px
			margin-right: 8px
		.owl-dot.active
			span
				display: block
				width: 10px
				height: 10px
				background: $main-color
				border-radius: 15px
				margin-left: 2px

.home-top_carousel-item
	display: flex
	height: 100% !important
.home-top_carousel-poster
	background: url("../img/top-bg.png") no-repeat center
	background-size: cover
	color: $white-color
	height: 100% !important
	position: relative
	z-index: 1
	//border: 1px solid $main-color

	h1
		position: absolute
		top: 50%
		margin-top: -100px
		left: 25px
	h2
		position: absolute
		top: 50%
		left: 25px
	img
		position: absolute
		bottom: 50px
		right: 50px


.item-name
	font-size: 15px
	font-weight: 400
.prise
	font-weight: 100
	font-size: 15px
.home-product_carousel
	.owl-nav
		position: absolute
		padding: 10px 20px
		background: $white-color
		z-index: 10
		top: -30px
		right: 30px
		.owl-next
			width: 40px
			height: 40px
			border-radius: 40px
			border: 2px solid $main-color !important
			position: relative
			&:before
				content: ""
				width: 11px
				height: 16px
				background: url("../img/caro-arrow.png") no-repeat center
				position: absolute
				top: 50%
				right: 50%
				margin-top: -8px
				margin-right: -6px
				transform: rotate(180deg)
		.owl-prev
			width: 40px
			height: 40px
			border-radius: 40px
			border: 2px solid $main-color !important
			position: relative
			margin-right: 15px
			&:before
				content: ""
				width: 11px
				height: 16px
				background: url("../img/caro-arrow.png") no-repeat center
				position: absolute
				top: 50%
				right: 50%
				margin-top: -8px
				margin-right: -5px




.social
	margin-top: 8px
	a
		margin-right: 10px
.footer
	height: 20px
	width: calc(100% - 311px)
	margin-left: 311px
	background: url("../img/footer.png") center no-repeat
	position: relative
	z-index: 8
	margin-top: -1px

.rotate
	transition: .3s
	transform: rotate(630deg)
.shadow
	position: fixed
	height: 100vh
	width: 311px
	top: 0
	z-index: 9
	box-shadow: 20px 0 40px rgba(49, 49, 49, 0.85)
	background: $main-color

footer
	color: $white-color
	font-size: 14px
	width: 311px
	height: 143px
	background: $main-color
	position: fixed
	padding-top: 10px
	top: 805px
	z-index: 10
	padding-left: 40px
	a
		color: $white-color
		font-size: 14px
		font-weight: 100
		margin-top: 8px
		&:hover

			text-decoration: underline
.footer-logo
	display: none

/*************** Item page ************/
.itempage-cont
	margin-left: 330px
	display: flex
	justify-content: space-between
.item-gallery
	width: calc(40% - 7px)
	margin-top: 50px

.thumbs
	padding-top: 10px
	overflow: hidden
	display: flex
	justify-content: space-between
	div
		border: 1px solid $main-color
		background-color: white
		cursor: pointer
		width: calc(33% - 3px)
		display: flex
		align-items: center
		justify-content: center
		position: relative

		img
			height: auto
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: grayscale(100%);
			transition: .3s
			&:hover
				filter: none
				-webkit-filter: none
#largeImage
	background-color: white
	cursor: pointer
	width: auto


.panel
	position: relative
	width: 100%
	border: 1px solid $main-color
	display: flex
	justify-content: center
	align-items: center
.item-panel
	width: calc(60% - 7px)
	margin-top: 50px
.star-line
	height: 24px
	width: 228px
	background: url("../img/stars.png") no-repeat top
.itempage-desription
	width: 80%
	color: #b3b3b3
	font-size: 14px
	line-height: 18px
	letter-spacing: -0.015em
	font-weight: 200
.tabs
	position: relative

/* Относительное позиционирование

.tab, .tab-title
	display: inline-block

/* Выстраиваем по горизонтали

.tab input[type="radio"]
	display: none

.tab-title
	padding: 5px 10px
	font-size: 18px
	border-bottom: none
	color: #c5c5c5
/* Снизу линию убираем

.tab-content
	position: absolute

	padding: 10px
	left: 0
	width: calc(100% - 20px)
	display: none

/* Прячем вкладку

.tab :checked
	+ .tab-title
		position: relative
		z-index: 1
		color: $main-color
	~ .tab-content
		display: block

/* Показываем активную вкладку
@import "media" // Always at the end
